/*---------------------------
Global Styling
----------------------------*/
body {
    font-family: "Jost", sans-serif;
    color: #444444;
}
  
a {
    color: #47b2e4;
    text-decoration: none;
}

a:hover {
    color: #73c5eb;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}