/*---------------------------
  NAME: style.css
  AUTHORS: Team 1
  DESCRIPTION: CSS for Master CS
  VERSION: 1.0
----------------------------*/
/*---------------------------
          General
----------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

/*---------------------------
          HEADER
----------------------------*/
#header {
  padding: 15px 0;
  background: rgb(12, 34, 71);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo img {
  max-height: 40px;
}

/*---------------------------
          NAVBAR
----------------------------*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #47b2e4;
}

/* SIGN UP BUTTON */
.navbar .getstarted, .navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  padding: 10px 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
  z-index: 99;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}
.navbar .dropdown:hover > ul {
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  top: 0;
  left: 100%;
  visibility: visible;
}


/*---------------------------
          HOMEPAGE
----------------------------*/
#HomePage {
  width: 100%;
  height: 80vh;
  background: #20ad85;
}
#HomePage .container {
  padding-top: 72px;
}
#HomePage h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#HomePage h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}
#HomePage .HomePage-img {
  text-align: center;
  width: 50%;
}

/*---------------------------
    PAGE TITLE
----------------------------*/
.page-title {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 150px;
  background: #20ad85;
  width:100%;
}

.page-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}
.page-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #fff;
  bottom: 1px;
  left: calc(50% - 60px);
}
.page-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #044c6d;
  bottom: 0;
  left: calc(50% - 20px);
}

/*---------------------------
    SECTION PARTITIONING
----------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*---------------------------
        BOX PARTITION
----------------------------*/
/* note - used to be used for just team section */

.team .member {
  position: relative;
  box-shadow: 0px 2px 5px #7f94b9;
  padding: 25px;
  background: #fff;
}
.team .member .pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

/*---------------------------
        ACHIEVEMENTS SECTION
----------------------------*/
.badges{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 500px 500px 500px;
  border-top:rgba(127, 137, 161, 0.25);
}

.badge {
  position: relative;
  box-shadow: 0px 2px 5px #7f94b9;
  padding: 25px;
  background: #fff;
}
.badge .pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.badge .badge-info {
  padding-left: 30px;
}

.badge p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

#myProgress {
  width: 100%;
  background-color: rgb(226, 220, 220);
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
  padding-bottom: 20px;
}



